body {
	font-family: Helvetica, Arial, sans-serif;
	display: grid;
	justify-items: center;
	min-height: 100vh;
	margin: 0;
}

#nine-box {
	display: grid;
	width: 400px;
	height: 400px;
	max-width: 80vw;
	max-height: 80vw;
	grid-template-columns: 32% 2% 32% 2% 32%;
	grid-template-rows: 32% 2% 32% 2% 32%;
}

.box {
	display: grid;
	justify-items: center;
	align-items: center;
}

.divide {
	background-color: #898984;
}
.divide.full {
	grid-column-start: 1;
	grid-column-end: 6;
}

.box .circle {
	pointer-events: none;
	border-radius: 50%;
	border: 5px solid black;
	width: 70%;
	height: 70%;
}

.box .cross {
	pointer-events: none;
	width: 100%;
	position: relative;
	background-color: black;
}
.box .cross > div {
	position: absolute;
	width: 80%;
	height: 5px;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	background-color: inherit;
}
.box .cross .lt {
	transform: translateX(-50%) translateY(-50%) rotate(50deg);
}
.box .cross .rt {
	transform: translateX(-50%) translateY(-50%) rotate(130deg);
}

.box.hovered {
	cursor: pointer;
}
.box.hovered .circle {
	border-color: gainsboro;
}
.box.hovered .cross > div {
	background-color: gainsboro;
}
.box.win-color > .cross {
	animation: cltr 3s forwards;
}
.box.win-color > .circle {
	animation: botr 3s forwards;
}
.disabled {
	cursor: not-allowed;
}
.disabled > .box {
	pointer-events: none;
	/*background: #f8f8f8;*/
}

.start-info {
	display: flex;
	justify-content: center;
}
.start-info .text {
	padding-right: 5px;
}
.switch {
	display: flex;
	width: 30px;
	margin: 5px;
	text-align: center;
	border-radius: 100px;
	background: #ef5350;
	height: 13px;
	position: relative;
	transition: background ease-in-out 0.3s;
	cursor: pointer;
}
.switch > div {
	color: white;
	font-weight: 300;
}
.is-transitioned .switch {
	background: #009688;
}
.is-transitioned .switch .handle {
	transform: translateX(17px);
}
.switch .on {
	width: 50%;
}
/*.switch .on i {
	padding-left: 5px;
}*/
.switch .off {
	width: 50%;
}
.switch .handle {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	position: absolute;
	background: white;
	top: -2px;
	left: -2px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	transition: transform ease-in-out 0.3s;
}


.start-info.is-transitioned .com {
	animation: g2b 0.3s forwards;
}
.start-info.is-transitioned .user {
	animation: r2g 0.3s forwards;
}
.start-info .com {
	color: gainsboro;
	/*animation: g2b 3s forwards;
	animation-direction: reverse;*/
}
.start-info .user {
	color: #ef5350;
	/*animation: r2g 3s forwards;
	animation-direction: reverse;*/
}
@keyframes r2g {
    /*from {color: #ef5350;}*/
    to {color: gainsboro;}
}
@keyframes g2b {
    /*from {color: gainsboro;}*/
    to {color: #009688;}
}
@keyframes cltr {
    to {background-color: #ef5350;}
}
@keyframes botr {
    to {border-color: #ef5350;}
}
